<section class="index-page">
  <img src={{userOb.picture}} alt="no pic found" />
  <h1>Hello {{userOb.name}}!</h1>
  {{!-- <p class="success">
    You have been successfully logged in!
    {{user}}
  </p> --}}
  <a href="/user/profile">Go to profile</a>
  <a href="/user/settings">Go to settings</a>
</section>